.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
  margin-right: auto;
  margin-left: auto;
  padding-top: 40px;

  max-width: 300px;
  width: 100%;
  border-radius: 10px;

  background-color: #ffffffea;
  box-shadow: 0 0 6px 0 #adacac;
  overflow: hidden;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}

.avatar {
  width: 100px;
  border-radius: 50%;
  margin-bottom: 30px;
}

.name {
  margin-bottom: 20px;

  font-size: 2rem;
  font-weight: 700;
  color: #122236;
}

.tag {
  margin-bottom: 20px;

  font-size: 1.25rem;
  color: #b8bfc7;
}

.location {
  font-size: 1.25rem;
  color: #a3adb7;
}

.stats {
  display: flex;
  width: 100%;
  height: 5rem;

  background-color: #f3f6f9;
}

.item {
  display: flex;
  flex-basis: 33.33%;
  flex-direction: column;
  align-items: center;

  padding: 20px;
  border-top: 1px solid #e7ecf2;
}

.item:not(:last-child) {
  border-right: 1px solid #e7ecf2;
}

.label {
  display: block;
  margin-bottom: 10px;

  font-size: 14px;
  color: #a3adb7;
}

.quantity {
  display: block;

  font-size: 16px;
  font-weight: 700;

  color: #122236;
}
